<template>
  <div class="about">
    <Titulo :contador="contador" :color="color" />
    <!-- <h1 :style="{'color': color}">Contador: {{contador}}</h1> -->
    <!-- <button @click="aumentar">+</button>
    <button @click="disminuir">-</button> -->
    <Btn :textoBoton="'+'" @accion="aumentar" />
    <Btn :textoBoton="'-'" @accion="disminuir" />
    <hr>
    <input type="text" v-model.trim="texto">
    <p>{{texto}}</p>
  </div>
</template>

<script>
import { computed, ref } from "vue";
import Titulo from '@/components/Titulo'
import Btn from '@/components/Btn'

export default {
  components: {
    Titulo,
    Btn
  },
  setup() {
    const contador = ref(0);
    const texto = ref('');

    const aumentar = () => {
      contador.value++;
    }
    const disminuir = () => {
      contador.value--;
    }

    const color = computed(() => {
      if (contador.value < 0) {
        return 'red'
      }
      else if (contador.value > 0) {
        return 'grey'
      }
      else {
        return ''
      }
    })

    return {contador, aumentar, disminuir, color, texto}
  },
}
</script>
