<template>
  <div class="pais">
    <!-- <h1>Detalle de pais: {{$route.params.nombre}}</h1> -->
    <h1>Detalle de pais: {{nombre}}</h1>
    <p v-for="(pais, index) in data" :key="index">
      {{pais.name}} - {{pais.region}}
    </p>
  </div>
</template>

<script>
import { useRoute } from "vue-router";
import { useFetch } from "../hooks/useFetch";

export default {
  props: ['nombre'],
  setup(props) {
    const nombreParam = useRoute()
    const paramNombre = nombreParam.params.nombre;

    const { data } = useFetch(`https://restcountries.eu/rest/v2/name/${props.nombre}`)

    return { data }
  }
}
</script>

<style>

</style>
