<template>
  <div class="paises">
    <h1>Lista de Paises</h1>
    <p v-for="(pais, index) in data" :key="index">
      <router-link :to="`/paises/${pais.name}`">{{pais.name}}</router-link>
    </p>
  </div>
</template>

<script>
import { useFetch } from "../hooks/useFetch";

export default {
  setup() {
    return { ...useFetch('api.json') }
  }
}
</script>

<style>

</style>
